@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    background-color: rgb(255, 255, 255);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    font-family: 'Sriracha', cursive;
}